@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #11001d;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
