@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;900&family=Rampart+One&family=WindSong:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-slate-900 text-white;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

.Typewriter__wrapper {
  @apply text-center uppercase text-4xl md:text-[8rem];
  font-family: 'Rampart One', cursive;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #f73a3a;
}

@media screen and (max-width: 430px) {
  .Typewriter__wrapper {
    @apply text-5xl;
  }
}

@media screen and (min-width: 431px) and (max-width: 640px) {
  .Typewriter__wrapper {
    @apply text-[3.8rem];
  }
}
